<div style="text-align: center; padding: 20px; background-color: #f8f9fa; border-top: 1px solid #e9ecef;">
    <p style="margin: 0;">Check us out:</p>
    <i class="fab fa-linkedin" style="font-size: 24px;"></i> 
    <a href="https://www.linkedin.com/company/102537455/" style="margin: 0 20px; text-decoration: none;">LinkedIn</a> 
    <i class="fab fa-discord" style="font-size: 24px;"></i> 
    <a href="https://discord.gg/eNP8Y5MH75" style="margin: 0 20px; text-decoration: none;">Discord</a>
    <i class="fab fa-github" style="font-size: 24px;"></i> 
    <a href="https://github.com/rcelo-software" style="text-decoration: none;">GitHub</a>
</div> 