---
layout: default
---

<style>
  .hologram {
    font-family: 'Courier New', Courier, monospace; /* Use a monospaced font for a techy look */
    font-size: 18px; /* Set a smaller base font size */
    color: #00FF00; /* Initial bright green color for hologram text */
    text-shadow: 0 0 1px #00FF00, 0 0 5px #00FF00, 0 0 5px #00FF00, 0 0 5px #00FF00; /* Create a glowing effect */
    animation: text-flicker 10s infinite alternate; /* Add a flickering animation to text shadow */
  }
  

  @keyframes text-flicker {
    0%, 100% { 
      text-shadow: 0 0 0.7px #FF00FF, 0 0 2.1px #FF00FF, 0 0 3.5px #FF00FF, 0 0 7px #FF00FF; 
      color: #FF00FF;
    }
    10%, 90% { 
      text-shadow: 0 0 0.7px #8A2BE2, 0 0 2.1px #8A2BE2, 0 0 3.5px #8A2BE2, 0 0 7px #8A2BE2; 
      color: #8A2BE2;
    }
    25%, 75% { 
      text-shadow: 0 0 0.7px #00CED1, 0 0 2.1px #00CED1, 0 0 3.5px #00CED1, 0 0 7px #00CED1; 
      color: #00CED1;
    }
    50% { 
      text-shadow: 0 0 0.7px #FFD700, 0 0 1.4px #FFD700, 0 0 2.1px #FFD700, 0 0 2.8px #FFD700; 
      color: #FFD700;
    }
  }
  
  .busy {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    font-size: 36px; /* Set the base font size */
    transition: text-shadow 0.5s ease, font-size 0.3s ease;
    color: rgb(62.9, 62.9, 62.9);/* Set text color to main website title color */
    white-space: normal; /* Allow text to wrap normally */
    margin: 10px; /* Add some margin for spacing */
    text-align: center; /* Center the text */
  }
  
  /* Updated hover effect for text to increase size */
  .busy:hover {
    font-size: 40px; /* Increase size on hover */
    opacity: 1;
  }
  
  .home-container {
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(2, 1fr);
    gap: 0px; /* Set the gap between columns to 0px */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    padding: 0 0px; /* Padding for the container */
    text-align: center; /* Center text within each grid item */
  }
  
  .magic-button, .portfolio-button {
    padding: 10px 30px; /* Increase padding for a larger clickable area */
    font-family: 'Arial Black', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #000000; /* Change text color to white */
    transition: color 0.3s ease, font-size 0.3s ease, background-color 0.3s ease, transform 0.3s ease; /* Add background and transform transitions */
    text-decoration: none;
    border: 1px solid #999898;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    animation: button-flicker 30s infinite alternate;
     }
  
  .magic-button {
    background-color: #0f0064; /* Initial background color */
    animation: button-color-flicker 10s infinite alternate, text-color-flicker 10s infinite alternate; /* Add text color flicker animation */
    color: #ffffff; /* Ensure text color remains white */
    transform: scale(1); /* Initial size */
  }
  
  .magic-button:hover {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: #007e8f;
    background-color: #ffffff !important; /* Ensure background color changes on hover */
  }
  .button-container {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  
  
</style>

<h1 class="hologram" id="dynamic-emoji-1" style="font-size: 120px;">&lt;/&gt;🛠️</h1>
<p class="busy" id="status-text" style="font-size: 20px;">
  Software & Hardware Experts
</p>
<p class="busy" id="status-text" style="font-size: 16px;">
  We build, deploy, and secure software solutions in the cloud and on-premises. 
</p>
<p class="busy" id="status-text" style="font-size: 16px;">
  Our systems are robust, scalable, and secure, tailored to your business needs. 
</p>

<br>
<br>

<div style="text-align: center;">
  <h1 class="hologram" id="dynamic-emoji-2" style="font-size: 120px;">✨🚀</h1>
</div>

<p class="busy" id="status-text" style="font-size: 20px;">From Vision to Reality</p>
<p class="busy" id="status-text" style="font-size: 16px;">
  We bring ideas to life with innovative and tailored solutions.
</p>
<p class="busy" id="status-text" style="font-size: 16px;">
  Whether it's a complex system or a simple application, we turn concepts into tangible results that drive success.
</p>

<br>
<br>

<div style="text-align: center;">
  <h1 class="hologram" id="dynamic-emoji-1" style="font-size: 120px;">🔧💡</h1>
</div>

</div>
<p class="busy" id="status-text" style="font-size: 20px;">End-to-End Support</p>
<p class="busy" id="status-text" style="font-size: 16px;">
  We offer end-to-end lifecycle support for small to medium-sized IT projects.
</p>
<p class="busy" id="status-text" style="font-size: 16px;">
  From consulting and design to deployment and maintenance.
</p>


<br>
<br>
<br>

<div class="button-container">
  <button onclick="window.location.href='/contact';" class="magic-button">Let's talk!</button>
</div>
<br>
